* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #4d244e;
}

#form {
  width: 80%;
  background-color: #4d244e;
  margin: 50px auto;
  text-align: center;
}

#listsbox {
  background-color: #6d335c;
  width: 80%;
  margin: auto;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

#InputToDo {
  background-color: #aa8e8d;
  color: #4d244e;

  border-color: #6d335c;
  width: 40%;
  height: 40px;
  outline: none;
}

#submitbtn {
  border: solid 1px #aa8e8d;
  padding: 7px 10px;
  background: #f6bd66;
  cursor: pointer;
  width: 15%;
  min-width: 20px;
  transition: all 100ms linear 80ms;
  color: #6d335c;
  line-height: 1;
  font-size: 18px;
  outline: none;
  background: rgba(#aa8e8d, 1);
  cursor: pointer;
}

.Todos {
  background-color: #aa8e8d;
  width: 980px;
  height: 50px;
  padding: 4px 4px;
  margin: 2px;

}

.inputlabel {
  color: #aa8e8d;
  font-size: 32px;
  font-weight: 900;
}


.img {

  position: relative;
  bottom: 25px;
  right: 0;
  left: 880px;
  padding: 5px;
  cursor: pointer;
}

.heading {
  font-size: 20px;

  color: #3e1d3f;
}
.todo--done {
  text-decoration: line-through;
  background-color: #f6bd66;
  top: 0;
  right: 0;
  padding: 5px;
}
